.widget-header
  .widget-header--profileImage
    img(src="images/profile-image.jpg", alt="")
  .widget-header--info
    .widget-header--info--name
      | Rodrigo Nogueira
    span.widget-header--info--date
      | Apr 7, 2013
    span.widget-header--info--status
      i.icon-lock-filled
      |  Unlisted
      
