.widget-video--info
  .widget-video--info--header
    .widget-video--info--title
      | Título do Vídeo
    .widget-video--info--actions
      i.icon-angle-down
  .widget-video--info--views
    |  90,655,736 views
  .widget-video--info--social
    a.widget-video--info--social--like
      i.icon-thumbs-up
      |  376k
    a.widget-video--info--social--dislike
      i.icon-thumbs-down
      |  376k
    a.widget-video--info--social--comments
      i.icon-comment
      |  376k
    a.widget-video--info--social--forward
      i.icon-forward
    a.widget-video--info--social--add
      i.icon-comment
    a.widget-video--info--social--dot
      i.icon-dot-3
  .widget-video--info--description
    a.widget-video--info--description--show
      span Show More
      i.icon-plus
  .widget-video--info--comments
    +comments(2)
      
      
