include ../mixins

.app.large.youtube
    .app-header
      .app-header--title 
        i.icon-th
        |  YOUTUBE
      .app-header--videos--config 
        a(href="#") My Videos
          i.icon-angle-down
        a
          i.icon-cog-1
    .app-content--search
      form(id="", method="", action="")
        input(type="text", placeholder="Search...")
        i.icon-search
    .app-content.app-content--widget
      +widget(true)
      
      
.app.youtube
    .app-header
      .app-header--title 
        i.icon-th
        |  YOUTUBE
      .app-header--videos--config 
        a(href="#") My Videos
          i.icon-angle-down
        a
          i.icon-cog-1
    .app-content--search
      form(id="", method="", action="")
        input(type="text", placeholder="Search...")
        i.icon-search
    .app-content.app-content--widget
      +widget(false, "video-medium")
