.app.medium.youtube
    .app-header
      .app-header--title 
        i.icon-th
        |  YOUTUBE
      .app-header--videos--config 
        a(href="#") My Videos
          i.icon-angle-down
        a
          i.icon-cog-1
    .app-content.app-content--login
      .app-content--title
        | Login on
        strong  YouTube
      button.btn.btn-login sign in
      .app-content--not-account
        |  I do not have an account yet?
